body {
  background-color: rgb(37, 37, 37);
  color: white !important;
  transition: all 0.3s ease;
}

.send-notification {
  color: white !important;
}
.content p,
h3 {
  color: black;
}
.para5-1 h1 {
  color: white !important;
}

.flex-btn > p {
  background-color: #8f8f8f !important;

  box-shadow: 1px 1px 15px #858585 !important;
}

.form-content h2 {
  color: black !important;
}

@media (max-width: 1179px) {
  nav ul {
    background-color: rgb(37, 37, 37) !important;
  }
  nav li a {
    color: white !important;
  }
}
